* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
}
h2{
    text-align: center;
    padding: 20px;
}
.container {
    width: 40%;
    margin: auto;
    display: flex;
    font-size: 17px;
    border: 1px #000 solid;
}

.trai {
    height: 500px;
    flex-basis: 50%;
    margin: auto;
    background: green;
    display: block;
}

.ten {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    padding: 10px;
}

.email {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    padding: 10px;
}

.gioitinh {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    padding: 10px;
    display: flex;
}

.quoctich {
    margin-left: 20px;
    font-weight: bold;
    float: left;
    padding: 10px;
}

.sothich {
    font-weight: bold;
    float: left;
    margin-left: 20px;
    padding: 10px;
}

.sothich .chonsothich {
    margin-left: 70px;
}

button {
    margin-top: 40px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}

.phai {
    height: 500px;
    flex-basis: 50%;
    background: blue;
}

.hienthi {
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

.hienthi p {
    padding: 20px;
}

input[type="submit"],
input[type="reset"] {
    width: 100px;
    padding: 10px 0;
    font-weight: bold;
}

.button {
    float: left;
    margin-left: 70px;
    margin-top: 30px;
}
