textarea {
    width: 95%;
    height: 150px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

div {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 2em; /* Tăng kích thước chữ lên gấp đôi (hoặc giá trị bạn muốn) */
    text-align: center; /* Căn giữa tiêu đề h2 */
}
