{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->

<section class="content">
  <!-- Small boxes (Stat box) -->
  {% if err_msg %}
  {% if err_msg.__eq__('Successful!!!') %}
  <div class="alert alert-success">
    {{ err_msg }}
  </div>
  {% else %}
  <div class="alert alert-danger">
      {{ err_msg }}
  </div>
  {% endif %}
  {% endif %}
  <form action="">
    <div class="form-group" style="display:flex;">
        <input type="text" class="form-control" name="kw" placeholder="Book name" style="width: 340px;
        margin-right: 15px;"/>
        <input type="submit" value="Search" class="btn btn-info" style="width:99px" />
    </div>
  </form> 
  <form>
    <label for="cars" style="width:100px;">Book:</label>
    <select name="book" id="cars" style="max-width:617px; height: 30px;">
      {% for b in book %}
      <option value="{{b.id}}">{{ b.name }}</option>
      {% endfor %}
    </select>
    <br><br>
    <div>
      <label for="count" style="width:100px;">Quantity:</label>
      <input type="text" placeholder="Import quantity" id="count" name="count" style="width:235px; height: 30px; margin-right: 15px;">
      <input type="submit" value="Import" class="btn btn-danger">
    </div>
    <br>
  </form>
  <table class="table">
      <tr>
          <th>Book name</th>
          <th>Category</th>
          <th>Author</th>
          <th>Quantity</th>
          <th>Date update</th>
      </tr>
      {% for b in books %}
        <tr></tr>
            <td style="max-width: 370px;">{{ b[0] }}</td>
            <td>{{ b[1] }}</td>
            <td>{{ b[2] }}</td>
            <td>{{ b[3] }}</td>
            <td>{{ b[4] }}</td>
        </tr>
      {% endfor %}
  </table>
</section>
<!-- /.content -->
{% else %}

{% include 'admin/login-admin.html' %}


{% endif %}


{% endblock body %}