{% if current_user.is_authenticated %}
{% if current_user.role|string == 'UserRole.CUSTOMER' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    window.location.href="{{ url_for('index')}}";
</script>
<a href="{{ url_for('index')}}"><div class="alert alert-danger">
  <strong>WARNING!</strong> You do not have permission to use this function. Please click here to return home page!!
</div></a>
{% else %}
{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<!-- Content Header (Page header) -->


<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{count_receipt}}</h3>
          <p>New Orders</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{count_cus}}</h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- Main row -->
  
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
  
<form>
  <label for="cars">Choose a category:</label>
  <select name="parent" id="cars">
    {% for p in parent %}
    <option value="{{p.id}}">{{ p.name }}</option>
    {% endfor %}
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</select>
<div class="row">
  <div class="col-md-5 col-xs-12">
      <table class="table">
          <tr>
              <th>ID</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
          {% for s in stats %}
          <tr>
              <td>{{ s[0] }}</td>
              <td>{{ s[1] }}</td>
              <td>{{ s[3] }}</td>
          </tr>
          {% endfor %}
      </table>
  </div>
  <div class="col-md-5 col-xs-12">
      <canvas id="myCateChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let labels = []
  let data = []
  let colors = []
  let borderColors = []
  let r, g, b;

  {% for s in stats %}
  labels.push('{{s[1]}}')
  data.push({{ s[2] }})

  r = parseInt(Math.random() * 255)
  g = parseInt(Math.random() * 255)
  b = parseInt(Math.random() * 255)
  colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
  borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
  {% endfor %}

  window.onload = function() {
      const ctx = document.getElementById('myCateChart').getContext('2d')

      const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Thong ke so san pham theo danh muc',
                  data: data,
                  backgroundColor: colors,
                  borderColor: borderColors,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  }
</script>
{% endblock body %}
{% endif %}
{% else %} 
{% include 'admin/login-admin.html' %}

{% endif %}