{% extends 'admin/master.html' %} {% block body %} {{ super() }} {% if
current_user.is_authenticated %} {% if err_msg %}
<div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}
<!-- Content Header (Page header) -->
<form action="">
  <div class="form-group">
    <label for="cus_name" style="width: 120px">Customer Name:</label>
    <input
      type="text"
      name="cus_name"
      id="cus_name"
      placeholder="Enter customer name..."
      required
      style="width: 210px; height: 30px; margin-right: 20px"
    />
    <input
      type="text"
      value="{{ current_user.id }}"
      name="id"
      style="display: none"
    />
    <input type="submit" value="Invoice" class="btn btn-info" />
  </div>
</form>

<br />

<form action="">
  <div class="form-group" style="display: flex">
    <input
      type="text"
      class="form-control"
      name="kw"
      placeholder="Enter book name"
      style="width: 340px; margin-right: 15px"
    />
    <input
      type="submit"
      value="Search"
      class="btn btn-info"
      style="width: 99px"
    />
  </div>
</form>

<br />

<form>
  <div class="form-group">
    <label for="book" style="width: 120px">Book:</label>
    <select
      class="usa-select"
      name="book"
      id="book"
      style="height: 30px; width: 620px"
    >
      {% for b in book %}
      <option value="{{ b.id|int }}">{{ b.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="quantity" style="width: 120px">Quantity:</label>
    <input
      type="text"
      name="quantity"
      id="quantity"
      placeholder="Enter quantity"
      required
      style="width: 210px; height: 30px"
    />
  </div>
  <div class="form-group" style="display: flex">
    <label for="receipt" style="width: 120px">Invoice id:</label>
    <select
      class="usa-select"
      name="receipt"
      id="receipt"
      style="width: 210px; height: 30px; margin-right: 10px; margin-left: 3px"
    >
      {% for r in receipts %}
      <option value="{{ r.id|int }}">{{ r.id }}</option>
      {% endfor %}
    </select>
    <input
      type="submit"
      value="Add book"
      class="btn btn-danger"
      style="margin-left: 10px"
    />
  </div>
</form>

<br />

<form action="" class="text-right" style="margin-right: 9px">
  <select
    class="usa-select"
    name="receipt"
    id="receipt"
    style="width: 210px; height: 30px"
  >
    {% for r in receipts %}
    <option value="{{ r.id }}">{{ r.id }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Watch" class="btn btn-danger" />
</form>
<h4>Customer's Receipt: {{get_receipt.cus_name}}</h4>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Author</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Amount</th>
    <th></th>
  </tr>

  {% for r in receipt_detail -%} {% for b in book %}
  <tr>
    {% if b.id == r.book_id %}
    <td>{{ r.receipt_id }}</td>
    <td style="max-width: 300px">{{ b.name }}</td>
    <td>{{ b.category }}</td>
    <td>{{ b.author }}</td>
    <td>{{ r.quantity }}</td>
    <td>{{ "{:,.0f}".format(b.price) }} VND</td>
    <td>{{ "{:,.0f}".format(b.price * r.quantity) }} VND</td>
    <td class="text-right">
      <form action="">
        <input
          type="text"
          value="{{ r.id }}"
          name="receipt_detail_id"
          style="display: none"
        />
        <input type="submit" value="Xóa" class="btn btn-danger" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %} {% endfor %}
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="font-size: 20px">Total:</td>
  <td style="position: relative">
    <form action="">
      <div>
        <div style="font-size: 20px">{{ "{:,.0f}".format(sum) }} VND</div>
        <br />
        <input
          type="text"
          value="{{ get_receipt.id }}"
          name="receipt_id"
          style="display: none"
        />
        <input
          type="submit"
          value="Checkout"
          class="btn btn-danger"
          style="position: absolute; bottom: 0"
        />
      </div>
    </form>
  </td>
  <td style="position: relative">
    <form action="">
      <div style="padding-top: 50px">
        <input
          type="text"
          value="{{ get_receipt.id }}"
          name="receipt_id_delete"
          style="display: none"
        />
        <input
          type="submit"
          value="Delete"
          class="btn btn-warning"
          style="position: absolute; bottom: 0"
        />
      </div>
    </form>
  </td>
</table>
<!-- /.content -->
{% else %} {% include 'admin/login-admin.html' %} {% endif %} {% endblock body
%}
