{% extends 'admin/master.html' %} {% block body %} {{ super() }} {% if
current_user.is_authenticated %}

<h1 class="text-center text-danger">Revenue Statistics</h1>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-md-5 col-xs-12">
    <table class="table"></table>
  </div>
  <div class="col-md-5 col-xs-12">
    <form>
      <label style="width: 120px">Month</label>
      <div class="form-group">
        <select
          class="usa-select"
          name="month"
          id="month"
          style="width: 75%; height: 30px; margin-right: 10px; margin-left: 3px"
        >
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <input type="submit" value="Statistics" class="btn btn-danger" />
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-xs-12">
    <h4>REVENUE STATISTICS BY CATEGORIES IN {{month}}</h4>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>QUANTITY</th>
        <th>TOTAL</th>
      </tr>
      {% for s in category_month_stats %}
      <tr>
        <td>{{s[0] }}</td>
        <td>{{s[1] }}</td>
        <td>{{s[2] }}</td>
        <td>{{"{:,.0f}".format(s[3])}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-5 col-xs-12">
    <canvas id="categoryMonthStatssChartId"></canvas>
  </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-md-5 col-xs-12">
    <h4>REVENUE STATISTICS BY BOOKS IN {{month}}</h4>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>QUANTITY</th>
        <th>TOTAL</th>
      </tr>
      {% for s in product_month_stats %}
      <tr>
        <td>{{s[0] }}</td>
        <td>{{s[1] }}</td>
        <td>{{s[2] }}</td>
        <td>{{"{:,.0f}".format(s[3])}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-5 col-xs-12">
    <canvas id="productMonthStatssChartId"></canvas>
  </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-md-5 col-xs-12">
    <h4>SALES STATISTICS BY BOOK</h4>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Revenue</th>
      </tr>
      {% for s in stats %}
      <tr>
        <td>{{ s[0] }}</td>
        <td>{{ s[1] }}</td>
        <td>
          {% if s[2] %} {{ "{:,.1f}".format(s[2]) }} VND {% else %} 0 VND {%
          endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-5 col-xs-12">
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="kw"
          placeholder="Nhap tu khoa..."
        />
      </div>
      <div class="form-group">
        <input type="date" class="form-control" name="from_date" />
      </div>
      <div class="form-group">
        <input type="date" class="form-control" name="to_date" />
      </div>
      <input type="submit" value="Statistics" class="btn btn-info" />
    </form>

    <canvas id="productChartId"></canvas>
  </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-md-5 col-xs-12">
    <h4>REVENUE STATISTICS OF THE YEAR {{year}}</h4>
    <table class="table">
      <tr>
        <th>Month</th>
        <th>Revenue</th>
      </tr>
      {% for s in year_stats %}
      <tr>
        <td>{{ s[0] }}</td>
        <td>{{ "{:,.1f}".format(s[1]) }} VND</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-5 col-xs-12">
    <form>
      <div class="form-group">
        <input
          type="number"
          min="2000"
          name="year"
          class="form-control"
          placeholder="Nhap nam..."
        />
      </div>
      <input type="submit" value="Statistics" class="btn btn-danger" />
    </form>
    <canvas id="productMonthChartId"></canvas>
  </div>
</div>
<br />
<br />
<br />
<br />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
      let labels = [], labels2 = [], labels3 = [], labels4 = []
      let data = [], data2 = [], data3 = [], data4 = []
      let colors = [], colors2 = [], colors3 = [], colors4 = []
      let borderColors = [], borderColors2 = [], borderColors3 = [], borderColors4 = []
      let r, g, b;

      {% for s in stats %}
      {% if s[2] %}
      labels.push('{{s[1]}}')
      data.push({{ s[2] }})

      r = parseInt(Math.random() * 255)
      g = parseInt(Math.random() * 255)
      b = parseInt(Math.random() * 255)
      colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
      borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
      {% endif %}
      {% endfor %}

      {% for s in year_stats %}

      labels2.push({{s[0]}})
      data2.push({{ s[1] }})

      r = parseInt(Math.random() * 255)
      g = parseInt(Math.random() * 255)
      b = parseInt(Math.random() * 255)
      colors2.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
      borderColors2.push(`rgba(${r}, ${g}, ${b}, 1)`)

      {% endfor %}

      {% for p in category_month_stats %}
      labels3.push('{{p[1]}}')
      data3.push({{ p[2] }})

      r = parseInt(Math.random() * 255)
      g = parseInt(Math.random() * 255)
      b = parseInt(Math.random() * 255)
      colors3.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
      borderColors3.push(`rgba(${r}, ${g}, ${b}, 1)`)
      {% endfor %}

      {% for p in product_month_stats %}
      labels4.push('{{p[1]}}')
      data4.push({{ p[2] }})

      r = parseInt(Math.random() * 255)
      g = parseInt(Math.random() * 255)
      b = parseInt(Math.random() * 255)
      colors4.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
      borderColors4.push(`rgba(${r}, ${g}, ${b}, 1)`)
      {% endfor %}

      window.onload = function() {
          const ctx = document.getElementById('productChartId').getContext('2d')
          const ctx2 = document.getElementById('productMonthChartId').getContext('2d')
          const ctx3 = document.getElementById('categoryMonthStatssChartId').getContext('2d')
          const ctx4 = document.getElementById('productMonthStatssChartId').getContext('2d')

          loadChart(ctx, labels, data, 'bar', colors, borderColors)
          loadChart(ctx2, labels2, data2, 'line', colors2, borderColors2)
          loadChart(ctx3, labels3, data3, 'bar', colors3, borderColors3)
          loadChart(ctx4, labels4, data4, 'doughnut', colors4, borderColors4)
      }

  function loadChart(ctx, labels, data, type, colors, borderColors) {
      const myChart = new Chart(ctx, {
          type: type,
          data: {
              labels: labels,
              datasets: [{
                  label: 'Revenue Statistics',
                  data: data,
                  backgroundColor: colors,
                  borderColor: borderColors,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  }
</script>
{% else %} {% include 'admin/login-admin.html' %} {% endif %} {% endblock body%}
