{% extends 'layout/base.html' %} {% block title %}Cart{% endblock %} {% block
css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/book-detail.css') }}"
/>
{% endblock %} {% block header %} {% include 'layout/header.html' %} {% endblock
%} {% block content %}
<!-- Shopping Cart -->
{% if 'cart' in session and session['cart'] %}
<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
            <tr class="main-hading">
              <th>PRODUCT</th>
              <th>NAME</th>
              <th class="text-center">QUANTITY</th>
              <th class="text-center">UNIT PRICE</th>
              <th class="text-center"><i class="ti-trash remove-icon"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for c in session['cart'].values() %}
            <tr id="book{{ c.id }}" class="text-center">
              <td class="image" data-title="No">
                <img src="{{ c.image }}" alt="{{ c.name }}" />
              </td>
              <td class="product-des" data-title="Description">
                <p class="product-name"><a href="#">{{ c.name }}</a></p>
              </td>
              <td class="qty" data-title="Qty">
                <!-- Input Order -->
                <div class="input-group">
                  <div class="button minus">
                    <button
                      type="button"
                      class="btn btn-primary btn-number"
                      data-type="minus"
                      data-field="{{ c.id }}"
                      onclick="updateCartByButton({{ c.id }}, getValueMinus('{{ c.id }}'))"
                    >
                      <i class="ti-minus"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    name="{{ c.id }}"
                    class="input-number"
                    data-min="1"
                    data-max="100000"
                    value="{{ c.quantity }}"
                    onchange="updateCartByInput({{ c.id }}, this)"
                    id="{{ c.id }}"
                  />
                  <div class="button plus">
                    <button
                      type="button"
                      class="btn btn-primary btn-number"
                      data-type="plus"
                      data-field="{{ c.id }}"
                      onclick="updateCartByButton({{ c.id }}, getValuePlus('{{ c.id }}'))"
                    >
                      <i class="ti-plus"></i>
                    </button>
                  </div>
                </div>
                <!--/ End Input Order -->
              </td>
              <td class="total-amount" data-title="Total">
                <span class="total-book-amount"
                  >{{ "{:,.0f}".format(c.price) }} VND</span
                >
              </td>
              <td class="action" data-title="Remove">
                <a href="#" onclick="deleteCart({{ c.id }})"
                  ><i class="ti-trash remove-icon"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-8 col-md-5 col-12"></div>
            <div class="col-lg-4 col-md-7 col-12">
              <div class="right">
                <ul>
                  <li>
                    Total quantity<span class="cart-info"
                      >{{ cart_stats.total_quantity }}</span
                    >
                  </li>
                  <li>
                    Cart Subtotal<span id="amountId"
                      >{{ "{:,.0f}".format(cart_stats.total_amount) }} VND</span
                    >
                  </li>
                  <li class="last">
                    You Pay<span id="amountIds"
                      >{{ "{:,.0f}".format(cart_stats.total_amount) }} VND</span
                    >
                  </li>
                </ul>
                {% if current_user.is_authenticated %}
                <div class="button5">
                  <a href="{{ url_for('checkout') }}" class="btn">Checkout</a>
                  <a href="{{ url_for('product_list')}}" class="btn"
                    >Continue shopping</a
                  >
                </div>
                {% else %}
                <div class="button5">
                  <a
                    href="{{ url_for('user_login', next='checkout') }}"
                    class="btn"
                    >Checkout</a
                  >
                  <a href="{{ url_for('product_list')}}" class="btn"
                    >Continue shopping</a
                  >
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>
<!--/ End Shopping Cart -->
{% else %}
<p class="alert alert-danger text-center">
  <i>Cart don't have any product yet!!!</i>
</p>
{% endif %} {% endblock %}
