{% extends 'layout/base.html' %} {% block title %}Change password{% endblock %}
{% block css %}
<link
  href="{{ url_for('static', filename='css/client/changepass.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block header %} {% include 'layout/header.html' %} {% endblock
%} {% block content %} {% if err_msg %}
<div class="alert alert-danger text-center">
  <h4>{{ err_msg }}</h4>
</div>
{% endif %}
<div class="gird-user">
  <div class="user-info">
    <a href="{{ url_for('user_detail') }}" style="margin-left: 50px"
      ><strong><em>&#60;&#60; User Detail</em></strong></a
    >
    <div class="user-info__info">
      <form method="post" class="user-info__form">
        <input
          type="text"
          name="id"
          value="{{ current_user.id }}"
          style="display: none"
        />
        <label>Current Password</label>
        <div class="form-group pass_show">
          <input
            type="password"
            class="form-control"
            placeholder="Current Password"
            name="CurrentPassword"
            id="CurrentPassword"
          />
        </div>
        <label>New Password</label>
        <div class="form-group pass_show">
          <input
            type="password"
            class="form-control"
            placeholder="New Password"
            name="NewPassword"
            id="NewPassword"
          />
        </div>
        <label>Confirm Password</label>
        <div class="form-group pass_show">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            name="ConfirmPassword"
            id="ConfirmPassword"
          />
        </div>
        <div>
          <input type="submit" class="btn" value="Change" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
